<!-- About Section -->
<div id="about" class="topDiv">
  <div class="container">
    <div class="col-md-6">
      <div class="row">
        <h2 class="section-heading">About</h2>
        <p>Jenna deBoisblanc is a New Orleans native, a creative coder, and a teacher. A physicist by training and a programmer by trade, deBoisblanc’s work treads the line between art and engineering. Her projects, which include electronic music interfaces, interactive LED murals, and algorithmically­-generated art, have been featured in a variety of popular maker blogs such as Make Magazine, Adafruit, and Lifehacker.</p>
        <p>When she isn’t programming (<a href="http://gocaptainplanet.com/">or protesting fossil fuels in spandex</a>), deBoisblanc runs a high school makerspace where she teaches electronics, coding, and 3D modeling. She feels passionately about engaging a broader, more diverse audience in computer science and engineering, and she hopes to spread her enthusiasm for creative technology in her classrooms and beyond.</p>
      </div>
      <div class="row">
        {% include contact.html %}
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-responsive padImg" src="/img/about/spacelady.png" />
    </div>
  </div>
</div>
