<!DOCTYPE html>
<html>

{% include head.html %}


<body id="page-top" class="index">

  {% include nav.html %}

  <div class="container" id="post_content">
    <nav style="margin-bottom: 40px">
      <a href="/teaching.html">&lsaquo; Teaching</a>
    </nav>
    <div class="headerText">
      <h2>{{ page.title }}<span style="font-size:50%"> [<a href="{{ page.syllabus }}" target="_blank">Syllabus</a>] </span></h2>
      <p>{{ page.description }}</p>
    </div>
    <div class="topDiv">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}
  {% include js.html %}
</body>
</html>
